/* scss-lint:disable SelectorFormat */
/**
* Enabled sizes
*/
$include-1-2-up: true;
$include-1-2-only: true;
$include-1-3-up: true;
$include-1-3-only: true;
$include-2-3-up: true;
$include-2-3-only: true;
$include-1-4-up: true;
$include-1-4-only: true;
$include-3-4-up: true;
$include-3-4-only: true;

$margin: (
  50: .5rem, //8px
  33: .625rem, //10px
  25: .75rem, //12px
);

$breakpoints-up: (
  s: 'small',
  m: 'medium',
  l: 'large',
  xl: 'xlarge',
  xm: 'xmlarge',
  xxl: 'xxlarge'
);

$breakpoints-only: (
  s-o: 'small',
  m-o: 'medium',
  l-o: 'large',
  xl-o: 'xlarge',
  xm-o: 'xmlarge',
  xxl-o: 'xxlarge'
);

// 1-1@s
.g-1\/1\@s {
  width: 100%;
}

/**
* 1-2
*/
@if $include-1-2-up {
  .g-1\/2 {
    @each $key, $bp in $breakpoints-up {
      &\@#{$key} {
        @include breakpoint($bp) {
          width: calc(50% - #{map-get($margin, 50)});
        }
      }
    }
  }
}

@if $include-1-2-only {
  .g-1\/2 {
    @each $key, $bp in $breakpoints-only {
      &\@#{$key} {
        @include breakpoint($bp only) {
          width: calc(50% - #{map-get($margin, 50)});
        }
      }
    }
  }
}

/**
* 1-3
*/
@if $include-1-3-up {
  .g-1\/3 {
    @each $key, $bp in $breakpoints-up {
      &\@#{$key} {
        @include breakpoint($bp) {
          width: calc((100% / 3) - #{map-get($margin, 33)});
        }
      }
    }
  }
}

@if $include-1-3-only {
  .g-1\/3 {
    @each $key, $bp in $breakpoints-only {
      &\@#{$key} {
        @include breakpoint($bp only) {
          width: calc((100% / 3) - #{map-get($margin, 33)});
        }
      }
    }
  }
}

/**
* 2-3
*/
@if $include-2-3-up {
  .g-2\/3 {
    @each $key, $bp in $breakpoints-up {
      &\@#{$key} {
        @include breakpoint($bp) {
          width: calc(((100% / 3) *2) - #{map-get($margin, 33)});
        }
      }
    }
  }
}

@if $include-2-3-only {
  .g-2\/3 {
    @each $key, $bp in $breakpoints-only {
      &\@#{$key} {
        @include breakpoint($bp only) {
          width: calc(((100% / 3) *2) - #{map-get($margin, 33)});
        }
      }
    }
  }
}

/**
* 1-4
*/
@if $include-1-4-up {
  .g-1\/4 {
    @each $key, $bp in $breakpoints-up {
      &\@#{$key} {
        @include breakpoint($bp) {
          width: calc(25% - #{map-get($margin, 25)});
        }
      }
    }
  }
}

@if $include-1-4-only {
  .g-1\/4 {
    @each $key, $bp in $breakpoints-only {
      &\@#{$key} {
        @include breakpoint($bp only) {
          width: calc(25% - #{map-get($margin, 25)});
        }
      }
    }
  }
}

/**
* 3-4
*/
@if $include-3-4-up {
  .g-3\/4 {
    @each $key, $bp in $breakpoints-up {
      &\@#{$key} {
        @include breakpoint($bp) {
          width: calc(75% - #{map-get($margin, 25)});
        }
      }
    }
  }
}

@if $include-3-4-only {
  .g-3\/4 {
    @each $key, $bp in $breakpoints-only {
      &\@#{$key} {
        @include breakpoint($bp only) {
          width: calc(75% - #{map-get($margin, 25)});
        }
      }
    }
  }
}